.hero.is-blue {
  background-color: #004c9b;
  color: #0a0a0a;
}

.hero.is-blue a:not(.button):not(.dropdown-item):not(.tag),
.hero.is-blue strong {
  color: inherit;
}

.hero.is-blue .title {
  color: #0a0a0a;
}

.hero.is-blue .subtitle {
  color: rgba(10, 10, 10, 0.9);
}

.hero.is-blue .subtitle a:not(.button),
.hero.is-blue .subtitle strong {
  color: #0a0a0a;
}

@media screen and (max-width: 1023px) {
  .hero.is-blue .navbar-menu {
    background-color: #004c9b;
  }
}

.hero.is-blue .navbar-item,
.hero.is-blue .navbar-link {
  color: rgba(10, 10, 10, 0.7);
}

.hero.is-blue a.navbar-item:hover, .hero.is-blue a.navbar-item.is-active,
.hero.is-blue .navbar-link:hover,
.hero.is-blue .navbar-link.is-active {
  background-color: #004c9b;
  color: #0a0a0a;
}

.hero.is-blue .tabs a {
  color: #0a0a0a;
  opacity: 0.9;
}

.hero.is-blue .tabs a:hover {
  opacity: 1;
}

.hero.is-blue .tabs li.is-active a {
  opacity: 1;
}

.hero.is-blue .tabs.is-boxed a, .hero.is-blue .tabs.is-toggle a {
  color: #0a0a0a;
}

.hero.is-blue .tabs.is-boxed a:hover, .hero.is-blue .tabs.is-toggle a:hover {
  background-color: rgba(10, 10, 10, 0.1);
}

.hero.is-blue .tabs.is-boxed li.is-active a, .hero.blue .tabs.is-boxed li.is-active a:hover, .hero.is-blue .tabs.is-toggle li.is-active a, .hero.is-blue .tabs.is-toggle li.is-active a:hover {
  background-color: #004c9b;
  border-color: #ffffff;
  color: white;
}

.hero.is-blue.is-bold {
  background-image: linear-gradient(141deg, #e6e6e6 0%, white 71%, white 100%);
}

@media screen and (max-width: 768px) {
  .hero.is-blue.is-bold .navbar-menu {
    background-image: linear-gradient(141deg, #e6e6e6 0%, white 71%, white 100%);
  }
}

.hero.is-home {
  background-color: #002d72;
  color: #ffdc00;
}

.hero.is-home a:not(.button):not(.dropdown-item):not(.tag),
.hero.is-home strong {
  color: inherit;
}

.hero.is-home .title {
  color: #ffdc00;

}

.hero.is-home .subtitle {
  color: rgba(10, 10, 10, 0.9);
}

.hero.is-home .subtitle a:not(.button),
.hero.is-home .subtitle strong {
  color: #0a0a0a;
}

@media screen and (max-width: 1023px) {
  .hero.is-home .navbar-menu {
    background-color: #002d72;
  }
}

.hero.is-home .navbar-item,
.hero.is-home .navbar-link {
  color: rgba(10, 10, 10, 0.7);
}

.hero.is-home a.navbar-item:hover, .hero.is-home a.navbar-item.is-active,
.hero.is-home .navbar-link:hover,
.hero.is-home .navbar-link.is-active {
  background-color: #002d72;
  color: #0a0a0a;
  font-size: 40px;
}

.hero.is-home .tabs a {
  color: #0a0a0a;
  opacity: 0.9;
}

.hero.is-home .tabs a:hover {
  opacity: 1;
}

.hero.is-home .tabs li.is-active a {
  opacity: 1;
}

.hero.is-home .tabs.is-boxed a, .hero.is-home .tabs.is-toggle a {
  color: #0a0a0a;
}

.hero.is-home .tabs.is-boxed a:hover, .hero.is-home .tabs.is-toggle a:hover {
  background-color: rgba(10, 10, 10, 0.1);
}

.hero.is-home .tabs.is-boxed li.is-active a, .hero.is-home .tabs.is-boxed li.is-active a:hover, .hero.is-home .tabs.is-toggle li.is-active a, .hero.is-home .tabs.is-toggle li.is-active a:hover {
  background-color: #002d72;
  border-color: #ffffff;
  color: white;
}

.hero.is-home.is-bold {
  background-image: linear-gradient(141deg, #e6e6e6 0%, white 71%, white 100%);
}

@media screen and (max-width: 768px) {
  .hero.is-home.is-bold .navbar-menu {
    background-image: linear-gradient(141deg, #e6e6e6 0%, white 71%, white 100%);
  }
}




.hero.is-lochmara {
  background-color: #0077c8;
  color: #ffc609;
}

.hero.is-lochmara a:not(.button):not(.dropdown-item):not(.tag),
.hero.is-lochmara strong {
  color: inherit;
}

.hero.is-lochmara .title {
  color: #ffffff;
}

.hero.is-lochmara .subtitle {
  color: rgba(255, 255, 255, 0.9);
}

.hero.is-lochmara .subtitle a:not(.button),
.hero.is-lochmara .subtitle strong {
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .hero.is-lochmara .navbar-menu {
    background-color: #0077c8;
  }
}

.hero.is-lochmara .navbar-item,
.hero.is-lochmara .navbar-link {
  color: rgba(255, 255, 255, 0.7);
}

.hero.is-lochmara a.navbar-item:hover, .hero.is-lochmara a.navbar-item.is-active,
.hero.is-lochmara .navbar-link:hover,
.hero.is-lochmara .navbar-link.is-active {
  background-color: #0077c8;
  color: white;
}

.hero.is-lochmara .tabs a {
  color: white;
  opacity: 0.9;
}

.hero.is-lochmara .tabs a:hover {
  opacity: 1;
}

.hero.is-lochmara .tabs li.is-active a {
  opacity: 1;
}

.hero.is-lochmara .tabs.is-boxed a, .hero.is-lochmara .tabs.is-toggle a {
  color: white;
}

.hero.is-lochmara .tabs.is-boxed a:hover, .hero.is-lochmara .tabs.is-toggle a:hover {
  background-color: rgba(10, 10, 10, 0.1);
}

.hero.is-lochmara .tabs.is-boxed li.is-active a, .hero.is-lochmara .tabs.is-boxed li.is-active a:hover, .hero.is-v .tabs.is-toggle li.is-active a, .hero.is-lochmara .tabs.is-toggle li.is-active a:hover {
  background-color: #0077c8;
  border-color: white;
  color: #ffffff;
}

.hero.is-lochmara.is-bold {
  background-image: linear-gradient(141deg, black 0%, #0a0a0a 71%, #181616 100%);
}

@media screen and (max-width: 768px) {
  .hero.is-lochmara.is-bold .navbar-menu {
    background-image: linear-gradient(141deg, black 0%, #0a0a0a 71%, #181616 100%);
  }
}