extends ../dash_template.pug

append vars
    -var init = "dash.subscribers.init()"

append ruDashContent
    h2 Subscribers
    a.ru-btn-link(href="/2017/mailingList")
        .ru-btn Download CSV
    table.table
        thead
            tr
                td #
                td Email
                td
        tbody
            tr#subscriber(ng-repeat="subscriber in dash.subscribers.list track by $index", ng-cloak="")
                td {{ $index + 1 }}
                td {{ subscriber.email.trim() }}
                td
                    .ru-btn(ng-click="dash.subscribers.delete(subscriber)") Delete