extends ../template.pug

append vars
    -var header = true
    -var headerCtrl = "dashCtrl as dash"
    -var headerCtrlAlias = "dash"
    -var ctrl = "dashCtrl as dash"
    -var ctrlAlias = "dash"

append ruNav
    li
        a(href="/2017/dash") Home
    li
        a(href="/2017/dash/subscribers") Subscribers
    //-li
        a(href="/dash/mail") Mail
    //-li
        a(href="/dash/users") Users
    li
        a(href="", ng-click="dash.logout()") Logout

append ruController
    .container-fluid
        .row(ng-init=init)
            block ruDashContent
    