extends ../template.pug

append vars
    -var ctrl = "authCtrl as auth"

append styles
    style.
        .ru-container-fluid {
            align-items: center;
            background: #004c9b;
            display: flex;
            flex-direction: row;
            height: 100vh;
            justify-content: center;
        }

        form {
            background: #ffffff;
            border-radius: 5px;
            padding: 20px;
            width: 350px;
        }

        .ru-btn {
            font-size: 1em;
            margin-left: 0;
            margin-right: 0;
            padding: 5px 10px 5px 10px;
        }
        
        .has-error {
            color: #ff2822;
        }

append ruController
    .ru-container-fluid
        .row
            form(name="auth.form", ng-submit="auth.login()")
                .form-group
                    label(for="user") Username
                    input.form-control(name="user", ng-model="auth.user", type="text", placeholder="Username")
                .form-group
                    label(for="pass") Password
                    input.form-control(name="pass", ng-model="auth.pass", type="password", placeholder="Password")
                #err.has-error(ng-show="auth.err.show") {{ auth.err.text }}
                button.ru-btn(type="submit") Login