mixin ruHeader(cls)
    .ru-navbar(class=cls)
        .ru-nav-header
            a.ru-brand(href="/2017") 
                .ru-brand-title RU Hacks
        .ru-nav-toggle(ng-click="home.toggleNav()")
            - for(var i = 0; i < 3; i++)
                span.icon-bar
        .ru-nav.ru-nav-responsive     
            ul.ru-navbar-links
                block
    .ru-nav.ru-nav-responsive.ru-nav-mobile(class=cls, ng-class="{'ru-nav-show': home.showNav}")
        ul.ru-navbar-links
            block
doctype html
html(lang="en", data-framework="angularjs")
    head
        include partials/site_info.pug

        title RU Hacks | Ryerson University
    body(ng-app="app")
        include partials/visitor_notify.pug
        // ==================== Menu ==================== 
        #ru-nav-scroll.ru-navbar-container.ru-navbar-fixed-top(ng-controller="mainCtrl as home")
            +ruHeader("ru-navbar-landing")
                //-li
                    a(href="https://ruhacks.typeform.com/to/zXWNeG", title="RU Hacks Hacker Application") Apply
                //-li
                    a(href="https://ruhacks.typeform.com/to/fRrYKS", title="RU Hacks Mentor Application") Mentor
                //-li
                    a(href="https://ruhacks.typeform.com/to/alzn9w", title="RU Hacks Volunteer Application") Volunteer
                li
                    a(href="https://www.facebook.com/ryehacks/", title="RU Hacks Facebook") News
                li
                    a(href="/2017/#schedule", title="RU Hacks Schedule") Schedule
                li
                    a(href="/2017/#location", title="RU Hacks Location") Location
                li
                    a(href="/2017/#sponsors", title="RU Hacks Sponsors and Partners") Sponsors &amp; Partners
                li
                    a(href="/2017/#faq", title="RU Hacks FAQ") FAQ
                //-li
                    a(href="/2017/#afterward", title="RU Hacks Afterward") Afterward
        // ==================== Content ==================== 
        #landing-container(ng-controller="mainCtrl as home")
            // ==================== Cover ==================== 
            #landing
                //-#sun.landing-layer
                //-#moon.landing-layer
                //-#snow.landing-layer
                //-#tower.landing-layer
                //-#lights.landing-layer
                //-#top.landing-layer
                //-#mid.landing-layer
                //-#bot.landing-layer
                #summary-video-tint
                video#summary-video(playsinline, autoplay, muted, loop)
                    source(src="./2017/img/summary.mp4" type="video/mp4")
                    source(src="./2017/img/summary_720.mp4" type="video/mp4", media="all and (max-width: 720px)")
                    source(src="./2017/img/summary_540.mp4" type="video/mp4", media="all and (max-width: 540px)")
                    source(src="./2017/img/summary_360.mp4" type="video/mp4", media="all and (max-width: 360px)")
                #splash-container.landing-layer
                    #splash(ng-init="home.init()")
                        #splash-logo
                        #splash-loc-date
                            |Ryerson University
                            .divider
                            |March 17-19 2017 </br>
                            |Hackathon Ended
                        #splash-call-to-action
                            //-.ru-btn(ng-click="showModal={display: 'flex'}") 2017 Mailing List
                            //-a.ru-btn-link(href="https://ruhacks.typeform.com/to/zXWNeG", title="RU Hacks Hacker Application")
                                .ru-btn Apply
                            //-a.ru-btn-link(href="https://ruhacks.typeform.com/to/fRrYKS", title="RU Hacks Mentor Application")
                                .ru-btn Mentor
                            //-a.ru-btn-link(href="https://ruhacks.typeform.com/to/alzn9w", title="RU Hacks Volunteer Application")
                                .ru-btn Volunteer
                            //-a.ru-btn-link(href="https://www.facebook.com/ryehacks/", title="RU Hacks Facebook")
                                .ru-btn News
                            a.ru-btn-link(href="https://www.ruhacks.com/", title="RU Hacks 2018")
                                .ru-btn Visit Our 2018 Site
                        #splash-contact
                            |Contact us at 
                            .divider
                            a(href="mailto:helloworld@ruhacks.com", title="helloworld@ruhacks.com") helloworld@ruhacks.com
                //-#modal.landing-layer(ng-style="showModal")
                    #modal-container
                        span#modal-close(ng-click="showModal={}") X
                        form#subscribe(name="mailingList")
                            #subscribe-msg Be the first to hear<br>about RU Hacks 2017!
                            span#subscribe-result(ng-show="home.result.show", ng-class="home.result.class") 
                                |{{ home.result.text }}
                            .ru-form-group-vertical
                                label#subscribe-email-lbl.ru-control-label(for="mailingListEmail") Email
                                input#subscribe-email.ru-form-control(type="email", name="mailingListEmail", placeholder="example@domain.com", ng-model="home.email")
                            .ru-btn(ng-click="home.subscribe()",ng-disabled="home.subscribeDisabled") Subscribe
            // ==================== About ==================== 
            #about.ru-content-white
                .ru-row
                    .ru-section.ru-section-default
                        .ru-section-header What is RUHacks?
                        .ru-section-content
                            |RU Hacks is a unique hackathon at Ryerson University, located at the heart of downtown Toronto. This year will be the first ever RU Hacks and we hope you will be here to join us for 36 hours of creativity. Remember since this is a MLH event, we must follow MLH's 
                            a(href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf", title="MLH Code of Conduct") Code of Conduct
                            |.
            // ==================== Why Attend ==================== 
            #attend.ru-content-blue
                .ru-row
                    .ru-section.ru-section-inverted
                        .ru-section-header Why Attend?
                        .ru-section-content.
                            Be a part of something special - join 400 other passionate individuals and let your creativity run wild. This event is a great opportunity to showcase your talents and ideas, whether you are a developer, a designer, or a creator with a skillset not listed here. This event is also an opportunity to learn new skills as mentors will be present, and there will be plenty of workshops to help you get your ideas off the ground.
            // ==================== Schedule ==================== 
            #schedule.ru-content-white
                .ru-row
                    .ru-section.ru-section-default
                        .ru-section-header Schedule
                        .ru-section-row.ru-section-row-grid
                            .ru-section-content-col-3
                                .ru-section-subheader Friday (Mar. 17)
                                .ru-section-content
                                    span.ru-schedule-time 6PM
                                    span.ru-schedule-content Registration Begins
                                .ru-section-content
                                    span.ru-schedule-time 7:30PM - 9PM
                                    span.ru-schedule-content Opening Ceremony
                                .ru-section-content
                                    span.ru-schedule-time 9PM
                                    span.ru-schedule-content Dinner
                                .ru-section-content
                                    span.ru-schedule-time 10PM
                                    span.ru-schedule-content Hacking Begins
                                .ru-section-content
                                    span.ru-schedule-time 10:30PM
                                    span.ru-schedule-content Team Formation Session
                            .ru-section-content-col-3
                                .ru-section-subheader Saturday (Mar. 18)
                                //-.ru-section-content
                                    span.ru-schedule-time 12AM
                                    span.ru-schedule-content Midnight Snack
                                .ru-section-content
                                    span.ru-schedule-time 8AM
                                    span.ru-schedule-content Breakfast
                                .ru-section-content
                                    span.ru-schedule-time 1PM
                                    span.ru-schedule-content Lunch
                                .ru-section-content
                                    span.ru-schedule-time 7PM
                                    span.ru-schedule-content Dinner
                            .ru-section-content-col-3
                                .ru-section-subheader Sunday (Mar. 19)
                                //-.ru-section-content
                                    span.ru-schedule-time 12AM
                                    span.ru-schedule-content Midnight Snack
                                .ru-section-content
                                    span.ru-schedule-time 10AM
                                    span.ru-schedule-content Deadline to submit on HackerEarth
                                .ru-section-content
                                    span.ru-schedule-time 10:15AM
                                    span.ru-schedule-content Brunch
                                .ru-section-content
                                    span.ru-schedule-time 11AM
                                    span.ru-schedule-content Judging
                                .ru-section-content
                                    span.ru-schedule-time 1PM
                                    span.ru-schedule-content Closing Ceremony
            // ==================== Location ==================== 
            #location.ru-content-blue
                .ru-row
                    .ru-section.ru-section-inverted
                        .ru-section-header Location
                        .ru-section-row.ru-section-row-wrap
                            .ru-section-content-media.ru-section-content-media-inline
                                iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11546.178518710383!2d-79.3772168!3d43.6576417!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfec6b680ae45e7b0!2sGeorge+Vari+Engineering+and+Computing+Centre!5e0!3m2!1sen!2sus!4v1483767485746", style="border: none; height: 75vh; width: 75vw;")
                            .ru-section-content.ru-section-content-inline
                                .ru-section-subheader Where is RU Hacks?
                                .ru-section-content.
                                    RU Hacks will held at George Vari Engineering and Computing Centre at Ryerson University. It is located at the corner of Gould St. and Church St.

            // ==================== Sponsors ==================== 
            #sponsors.ru-content-white
                .ru-row
                    .ru-section.ru-section-default
                        .ru-section-header Sponsors &amp; Partners
                        .ru-section-content
                            |For sponsorship inquiries, send an email to 
                            a(href="mailto:sponsors@ruhacks.com") sponsors@ruhacks.com
                            |.
                    .ru-section-row.ru-section-row-center.ru-section-row-wrap
                        .ru-section-image
                            a(href="http://www.ee.ryerson.ca/", title="Ryerson University Department of Electrical and Computer Engineering")
                                img.ru-partner.ru-partner-wide(src="2017/img/sponsors-partners/ryerson_ece_logo_sm.png", alt="Ryerson University Department of Electrical and Computer Engineering Logo")
                        .ru-section-image
                            a(href="https://mlh.io/", title="Major League Hacking")
                                img.ru-partner(src="2017/img/sponsors-partners/mlh-logo-color_sm.png", alt="MLH Logo")
                        .ru-section-image
                            a(href="http://ress.ca/", title="Ryerson Engineering Student Society")
                                img.ru-partner(src="2017/img/sponsors-partners/ress_sm.png", alt="Ryerson Engineering Student Society Logo")
                        .ru-section-image
                            a(href="https://rssonline.ca/", title="Ryerson Science Society")
                                img.ru-partner(src="2017/img/sponsors-partners/ryerson-science-society_sm.png", alt="Ryerson Science Society Logo")
                        .ru-section-image
                            a(href="https://sandboxdmz.com/", title="Sandbox by DMZ")
                                img.ru-partner(src="2017/img/sponsors-partners/sandbox_by_dmz_logo_sm.png", alt="Sandbox by DMZ Logo")
                        .ru-section-image
                            a(href="https://www.github.com/", title="Github")
                                img.ru-partner(src="2017/img/sponsors-partners/github_logo_sm.png", alt="Github Logo")
                        .ru-section-image
                            a(href="http://www.ambitions.co/", title="Ambitions")
                                img.ru-partner(src="2017/img/sponsors-partners/ambitions_sm.png", alt="Ambitions Logo")
                        .ru-section-image
                            a(href="http://www.stickeryou.com/2", title="StickerYou")
                                img.ru-partner(src="2017/img/sponsors-partners/stickeryou_sm.png", alt="StickerYou Logo")
                        .ru-section-image
                            a(href="https://www.wake-ups.com/", title="wake-ups")
                                img.ru-partner(src="2017/img/sponsors-partners/wakeups_logo_sm.jpg", alt="Wake-Ups Logo")
            // ==================== FAQ ==================== 
            #faq.ru-content-blue
                .ru-row
                    .ru-section.ru-section-inverted.ru-section-fullwidth
                        .ru-section-header FAQ
                        .ru-section-row.ru-section-row-grid
                            .ru-section-content-col-3
                                .ru-section-subheader Who can attend?
                                .ru-section-content.
                                    If you are a student enrolled in any undergraduate or graduate program and are 18 or older, you are eligible to apply and attend RU Hacks.
                            .ru-section-content-col-3
                                .ru-section-subheader What should I bring?
                                .ru-section-content.
                                    Make sure to bring your Student ID for entrance, Government-issued ID to borrow hardware, your Laptop and charger for hacking, as well as clothes/blankets.
                            .ru-section-content-col-3
                                .ru-section-subheader How much does it cost to attend RU Hacks?
                                .ru-section-content.
                                    Admission to RU Hacks is completely free! We’ll be providing all the food, accommodation and swag for the entire weekend.
                            .ru-section-content-col-3
                                .ru-section-subheader How will I get to RU Hacks?
                                .ru-section-content.
                                    We will be sending a number of buses to schools within driving distance of Ryerson University. If we don’t have a bus going to your school or you are a student who needs to fly to RU Hacks, we will do our best to subsidize as much of your travel costs as possible. More details on this will be released once acceptances start rolling out!
                            .ru-section-content-col-3
                                .ru-section-subheader What if I’ve never attended a hackathon before?
                                .ru-section-content.
                                    No worries. Prior coding or technical experience is not a requirement at all. RU Hacks is a fun learning experience. We’ll be having tons of beginner workshops, talks and as well as mentors to help you with your projects. Our goal is for you to leave RU Hacks having learned something.
                            .ru-section-content-col-3
                                .ru-section-subheader Can I start working on my hack before the event?
                                .ru-section-content.
                                    No.  We do not allow participants to work on pre-existing projects. All projects must be worked on from scratch. You'll have enough time to make something you can be proud of. However, you are welcome to familiarize yourself with specific tools and technologies beforehand!
                            .ru-section-content-col-3
                                .ru-section-subheader What about Hardware Hacks?
                                .ru-section-content.
                                    We welcome any and all hardware hacks! If you have specific hardware you intend to work with, feel free to bring them. A full list of hardware we plan to provide will be released closer to the event.
                            .ru-section-content-col-3
                                .ru-section-subheader How does judging work?
                                .ru-section-content.
                                    Our panel of judges consists of some of the biggest names in tech. These experts will eagerly be viewing your projects based on usefulness, design, difficulty and creativity. The top 10 projects will get a chance to demo their hacks in front of all of RU Hacks during the closing ceremony.
                            .ru-section-content-col-3
                                .ru-section-subheader I still have more questions!
                                .ru-section-content Reach out to us at 
                                    a(href="mailto:helloworld@ruhacks.com") helloworld@ruhacks.com

        //-// ==================== afterward ==================== 
        //-#afterward.ru-content-white
                .ru-row
                    .ru-section.ru-section-default
                        .ru-section-header Afterward
                        .ru-section-row.ru-section-row-wrap
                            iframe#ru-afterward-video(src="https://player.vimeo.com/video/209641825", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
                            p.text-center
                                a(href='https://vimeo.com/209641825') RU Hacks 2017
                                |  from 
                                a(href='https://vimeo.com/nexteracinematics') Next Era Cinematics
                                |  on 
                                a(href='https://vimeo.com') Vimeo
                                | .


        // ==================== Footer ==================== 
        #ru-footer.ru-content-blue
            .ru-row
                .text-center
                    a(href="https://facebook.com/ryehacks", title="RU Hacks Facebook")
                        i.fa.fa-facebook-official.ru-social-icon
                    a(href="https://twitter.com/ru_hacks", title="RU Hacks Twitter")
                        i.fa.fa-twitter.ru-social-icon
                    a(href="https://www.snapchat.com/add/ruhacks", title="RU Hacks Snapchat")
                        i.fa.fa-snapchat.ru-social-icon
                    a(href="mailto:helloworld@ruhacks.com", title="Email helloworld@ruhacks.com")
                        i.fa.fa-envelope.ru-social-icon
                .text-center
                    small.ru-section-inverted &copy; 2016-2017 RU Hacks. All Rights Reserved

        // ==================== MLH Banner ==================== 
        a#mlh-trust-badge(style="display:block;max-width:100px;min-width:60px;position:fixed;left:20px;top:0;width:10%;z-index:100001", href="https://mlh.io/seasons/na-2017/events?utm_source=na-2017&utm_medium=TrustBadge&utm_campaign=na-2017&utm_content=white", target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/2017/white.svg", alt="Major League Hacking 2017 Hackathon Season", style="width:80%")
        
        // ==================== Includes ==================== 
        include partials/includes.pug
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

        block scripts
