mixin ruHeader(cls)
    .ru-navbar(class=cls)
        .ru-nav-header
            a.ru-brand(href="") 
                .ru-brand-title RU Hacks
        .ru-nav-toggle(ng-click="home.toggleNav()")
            - for(var i = 0; i < 3; i++)
                span.icon-bar
        .ru-nav.ru-nav-responsive     
            ul.ru-navbar-links
                block
    .ru-nav.ru-nav-responsive.ru-nav-mobile(class=cls, ng-class="{'ru-nav-show': home.showNav}")
        ul.ru-navbar-links
            block
doctype html
html(lang="en", data-framework="angularjs")
    head
        include partials/site_info.pug

        title RU Hacks | Ryerson University
    body(ng-app="app")
        include partials/visitor_notify.pug
        // ==================== Menu ==================== 
        #ru-nav-scroll.ru-navbar-container.ru-navbar-fixed-top(ng-controller="mainCtrl as home")
            +ruHeader("ru-navbar-landing")
                li
                    a(href="/2018/#about", title="RU Hacks About") About
                //- li
                //-     a(href="/2018/#schedule", title="RU Hacks Schedule") Schedule
                li
                    a(href="/2018/#faq", title="RU Hacks FAQ") FAQ
                li
                    a(href="/2018/#location", title="RU Hacks Location") Location
                //- li
                //-     a(href="/2018/#sponsors", title="RU Hacks Sponsors and Partners") Sponsors
        // ==================== Content ==================== 
        #landing-container(ng-controller="mainCtrl as home")
            // ==================== Cover ==================== 
            #landing
                #snow.landing-layer
                #tower.landing-layer
                #lights.landing-layer
                #landscape.landing-layer
                #splash-container.landing-layer
                    #splash
                        #splash-logo
                        #splash-loc-date
                            |Ryerson University
                            .divider
                            |April 6-8, 2018
                            br
                        #splash-contact
                            |Sign up here for 
                            .divider
                            br
                            br
                            a(href="", title="LoginPortal") RU Hacks 2018   
                        #splash-call-to-action


            // ==================== About ==================== 
            #about.ru-content-white
                .ru-row
                    .ru-section.ru-section-default
                        .ru-section-header About RUHacks
                        .ru-section-row.ru-section-row-grid
                            .ru-section-content-col-2
                                .ru-section-subheader What is RUHacks?
                                .ru-section-content.
                                |RU Hacks is a unique hackathon at Ryerson University, located at the heart of downtown Toronto. This year will
                                |be our second RU Hacks and we hope you will be here to join us for 36 hours of creativity. Meet new people, learn new skills and showcase your talents. Remember since this is a MLH event, we must follow MLH's     
                                a(href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf", title="MLH Code of Conduct") Code of Conduct
                            .ru-section-content-col-2
                                .ru-section-subheader Why Attend?
                                .ru-section-content.
                                |Be a part of something special - meet other passionate students and let your creativity run wild. This event is the perfect opportunity to showcase your talents. This event is also an opportunity to learn new skills as mentors will be present, and there will be plenty of workshops to help you get your ideas off the ground.

                                //- .tile.is-ancestor
                                //-     .tile.is-parent
                                //-         .tile-is-child-box
                                //-             .title
                                //-                 |Hello
                                //-             .content
                                //-                 |Content goes here
                                //- .tile.is-ancestor
                                //-     .tile.is-parent
                                //-         .tile.is-child-box
                                //-             .title
                                //-                 |Hello2
                                //-             .content
                                //-                 |Content goes here2
                                //- .tile.is-ancestor
                                //-     .tile.is-parent
                                //-         .tile.is-child-box
                                //-             .title
                                //-                 |Hello3
                                //-             .content
                                //-                 |Content goes here3

            // ==================== Why Attend ==================== 
            //- #attend.ru-content-blue
            //-     .ru-row
            //-         .ru-section.ru-section-inverted
            //-             .ru-section-header Why Attend?
            //-             .ru-section-content.
            //-                 Be a part of something special - join 400 other passionate individuals and let your creativity run wild. This event is a great opportunity to showcase your talents and ideas, whether you are a developer, a designer, or a creator with a skillset not listed here. This event is also an opportunity to learn new skills as mentors will be present, and there will be plenty of workshops to help you get your ideas off the ground.
            // ==================== Schedule ==================== 
            //- #schedule.ru-content-white
            //-     .ru-row
            //-         .ru-section.ru-section-default
            //-             .ru-section-header Schedule
                        //- .ru-section-row.ru-section-row-grid
                        //-     .ru-section-content-col-3
                        //-         .ru-section-subheader Friday (Mar. 17)
                        //-         .ru-section-content
                        //-             span.ru-schedule-time 6PM
                        //-             span.ru-schedule-content Registration Begins
                        //-         .ru-section-content
                        //-             span.ru-schedule-time 7:30PM - 9PM
                        //-             span.ru-schedule-content Opening Ceremony
                        //-         .ru-section-content
                        //-             span.ru-schedule-time 9PM
                        //-             span.ru-schedule-content Dinner
                        //-         .ru-section-content
                        //-             span.ru-schedule-time 10PM
                        //-             span.ru-schedule-content Hacking Begins
                        //-         .ru-section-content
                        //-             span.ru-schedule-time 10:30PM
                        //-             span.ru-schedule-content Team Formation Session
                        //-     .ru-section-content-col-3
                        //-         .ru-section-subheader Saturday (Mar. 18)
                        //-         //-.ru-section-content
                        //-             span.ru-schedule-time 12AM
                        //-             span.ru-schedule-content Midnight Snack
                        //-         .ru-section-content
                        //-             span.ru-schedule-time 8AM
                        //-             span.ru-schedule-content Breakfast
                        //-         .ru-section-content
                        //-             span.ru-schedule-time 1PM
                        //-             span.ru-schedule-content Lunch
                        //-         .ru-section-content
                        //-             span.ru-schedule-time 7PM
                        //-             span.ru-schedule-content Dinner
                        //-     .ru-section-content-col-3
                        //-         .ru-section-subheader Sunday (Mar. 19)
                        //-         //-.ru-section-content
                        //-             span.ru-schedule-time 12AM
                        //-             span.ru-schedule-content Midnight Snack
                        //-         .ru-section-content
                        //-             span.ru-schedule-time 10AM
                        //-             span.ru-schedule-content Deadline to submit on HackerEarth
                        //-         .ru-section-content
                        //-             span.ru-schedule-time 10:15AM
                        //-             span.ru-schedule-content Brunch
                        //-         .ru-section-content
                        //-             span.ru-schedule-time 11AM
                        //-             span.ru-schedule-content Judging
                        //-         .ru-section-content
                        //-             span.ru-schedule-time 1PM
                        //-             span.ru-schedule-content Closing Ceremony
        
            // ==================== FAQ ==================== 
            #faq.ru-content-blue
                .ru-row
                    .ru-section.ru-section-inverted.ru-section-fullwidth
                        .ru-section-header FAQ
                        .ru-section-row.ru-section-row-grid
                            .ru-section-content-col-3
                                .ru-section-subheader Who can attend?
                                .ru-section-content.
                                    If you are a student enrolled in any undergraduate or graduate program and are 18 or older, you are eligible to apply and attend RU Hacks.
                            .ru-section-content-col-3
                                .ru-section-subheader What should I bring?
                                .ru-section-content.
                                    Make sure to bring your Student ID for entrance, Government-issued ID to borrow hardware, your Laptop and charger for hacking, as well as clothes/blankets.
                            .ru-section-content-col-3
                                .ru-section-subheader How much does it cost to attend RU Hacks?
                                .ru-section-content.
                                    Admission to RU Hacks is completely free! We’ll be providing all the food, accommodation and swag for the entire weekend.
                            .ru-section-content-col-3
                                .ru-section-subheader How will I get to RU Hacks?
                                .ru-section-content.
                                    We will be sending a number of buses to schools within driving distance of Ryerson University. If we don’t have a bus going to your school or you are a student who needs to fly to RU Hacks, we will do our best to subsidize as much of your travel costs as possible. More details on this will be released once acceptances start rolling out!
                            .ru-section-content-col-3
                                .ru-section-subheader What if I’ve never attended a hackathon before?
                                .ru-section-content.
                                    No worries. Prior coding or technical experience is not a requirement at all. RU Hacks is a fun learning experience. We’ll be having tons of beginner workshops, talks and as well as mentors to help you with your projects. Our goal is for you to leave RU Hacks having learned something.
                            .ru-section-content-col-3
                                .ru-section-subheader Can I start working on my hack before the event?
                                .ru-section-content.
                                    No.  We do not allow participants to work on pre-existing projects. All projects must be worked on from scratch. You'll have enough time to make something you can be proud of. However, you are welcome to familiarize yourself with specific tools and technologies beforehand!
                            .ru-section-content-col-3
                                .ru-section-subheader What about Hardware Hacks?
                                .ru-section-content.
                                    We welcome any and all hardware hacks! If you have specific hardware you intend to work with, feel free to bring them. A full list of hardware we plan to provide will be released closer to the event.
                            .ru-section-content-col-3
                                .ru-section-subheader How does judging work?
                                .ru-section-content.
                                    Our panel of judges consists of some of the biggest names in tech. These experts will eagerly be viewing your projects based on usefulness, design, difficulty and creativity. The top 10 projects will get a chance to demo their hacks in front of all of RU Hacks during the closing ceremony.
                            .ru-section-content-col-3
                                .ru-section-subheader I still have more questions!
                                .ru-section-content Reach out to us at 
                                    a(href="mailto:helloworld@ruhacks.com") helloworld@ruhacks.com   
                        .ru-section-row.ru-section-row-wrap
                            .ru-section-content-media.ru-section-content-media-inline
                                iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11546.178518710383!2d-79.3772168!3d43.6576417!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfec6b680ae45e7b0!2sGeorge+Vari+Engineering+and+Computing+Centre!5e0!3m2!1sen!2sus!4v1483767485746", style="border: none; height: 45vh; width: 90vw;")
                            br
                            #location.ru-section-content.ru-section-content-inline
                                .ru-section-subheader Where is RU Hacks located?
                                .ru-section-content.
                                    RU Hacks will held at George Vari Engineering and Computing Centre at Ryerson University. It is located at the corner of Gould St. and Church St.
            // ==================== Sponsors ==================== 
            //- #sponsors.ru-content-white
            //-     .ru-row
            //-         .ru-section.ru-section-default
            //-             .ru-section-header Sponsors &amp; Partners
            //-             .ru-section-content
            //-                 |For sponsorship inquiries, send an email to 
            //-                 a(href="mailto:sponsors@ruhacks.com") sponsors@ruhacks.com
            //-                 |.
            //-         .ru-section-row.ru-section-row-center.ru-section-row-wrap
            //-             .ru-section-image
            //-                 a(href="http://www.ee.ryerson.ca/", title="Ryerson University Department of Electrical and Computer Engineering")
            //-                     img.ru-partner.ru-partner-wide(src="2017/img/sponsors-partners/ryerson_ece_logo_sm.png", alt="")
            //-             .ru-section-image
            //-                 a(href="https://mlh.io/", title="Major League Hacking")
            //-                     img.ru-partner(src="2017/img/sponsors-partners/mlh-logo-color_sm.png", alt="")
            //-             .ru-section-image
            //-                 a(href="http://ress.ca/", title="Ryerson Engineering Student Society")
            //-                     img.ru-partner(src="2017/img/sponsors-partners/ress_sm.png", alt="")
            //-             .ru-section-image
            //-                 a(href="https://rssonline.ca/", title="Ryerson Science Society")
            //-                     img.ru-partner(src="2017/img/sponsors-partners/ryerson-science-society_sm.png", alt="")
            //-             .ru-section-image
            //-                 a(href="https://sandboxdmz.com/", title="Sandbox by DMZ")
            //-                     img.ru-partner(src="2017/img/sponsors-partners/sandbox_by_dmz_logo_sm.png", alt="")
            //-             .ru-section-image
            //-                 a(href="https://www.github.com/", title="Github")
            //-                     img.ru-partner(src="2017/img/sponsors-partners/github_logo_sm.png", alt="")
            //-             .ru-section-image
            //-                 a(href="http://www.ambitions.co/", title="Ambitions")
            //-                     img.ru-partner(src="2017/img/sponsors-partners/ambitions_sm.png", alt="")
            //-             .ru-section-image
            //-                 a(href="http://www.stickeryou.com/2", title="StickerYou")
            //-                     img.ru-partner(src="2017/img/sponsors-partners/stickeryou_sm.png", alt="")
            //-             .ru-section-image
            //-                 a(href="https://www.wake-ups.com/", title="wake-ups")
            //-                     img.ru-partner(src="2017/img/sponsors-partners/wakeups_logo_sm.jpg", alt="")

        // ==================== Footer ==================== 
        #ru-footer.ru-content-blue
            .ru-row
                .text-center
                    a(href="https://facebook.com/ryehacks", title="RU Hacks Facebook")
                        i.fa.fa-facebook-official.ru-social-icon
                    a(href="https://twitter.com/ru_hacks", title="RU Hacks Twitter")
                        i.fa.fa-twitter.ru-social-icon
                    a(href="https://www.snapchat.com/add/ruhacks", title="RU Hacks Snapchat")
                        i.fa.fa-snapchat.ru-social-icon
                    a(href="mailto:helloworld@ruhacks.com", title="Email helloworld@ruhacks.com")
                        i.fa.fa-envelope.ru-social-icon
                .text-center
                    small.ru-section-inverted &copy; 2017-2018 RU Hacks. All Rights Reserved

        // ==================== MLH Banner ==================== 
        a#mlh-trust-badge(style="display:block;max-width:100px;min-width:60px;position:fixed;left:20px;top:0;width:10%;z-index:100001", href="https://mlh.io/seasons/na-2017/events?utm_source=na-2017&utm_medium=TrustBadge&utm_campaign=na-2017&utm_content=white", target="_blank")
            img(src="https://s3.amazonaws.com/logged-assets/trust-badge/2018/white.svg", alt="Major League Hacking 2018 Hackathon Season", style="width:80%")
        
        // ==================== Includes ==================== 
        include partials/includes.pug
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

        block scripts
